body {
    background-color: azure;
}

* {
    list-style: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
    max-width: 1128px;
    padding: 0;

}

.gallery-image {
    width: 360px;
    height: 200px;
    transition: transform 0.5s ease;
}

.gallery-image:hover {
    transform: scale(1.05);
    transition: 0.6s cubic-bezier(.25, .8, .25, 1);
}